pink = #B0276F
pinkLight = #D85A9C
pinkDark = #ECA0C8
yellow = #ffd800
yellowLight = #ffee61
yellowDark = #ecac00
white = #FFF
orange = #FF9900
red = #BF0404
green = #49E20E
grey = #D2DEE4
greyLight = #E3EDF2
skyblue = #00BFFF
skyblueLight = #73DCFF
skyblueDark = #00BFFF
darkblue = #27408B
purple = #443266

body , html
	width 100%
	height 100%
	min-height 100%
	background #FAFAFA
	color #2B2B2B
	font-family 'Abel', Helvetica, sans-serif
	font-variant normal
	font-weight 300
	overflow hidden

#share
	position absolute
	width 300px
	overflow auto
	top 0 
	right 10px
	z-index 9
	text-align right
	padding 10px

#global
	position absolute
	top 50%
	left 50%
	margin-top -75px
	margin-left -250px
	height 150px
	width 500px
	z-index 10

h1
	margin 0 auto 6px auto
	font-size 30px
	text-align center
	letter-spacing 7
	font-weight 400

h2
	margin 0 auto 30px auto
	font-size 18px
	text-align center
	letter-spacing 0

#about
	display none
	position absolute
	bottom 0
	left 50%
	margin-left -250px
	width 480px
	height 0
	overflow hidden

	padding 20px
	font-size 16px
	line-height 24px
	text-align center
	color #6B6B6B
	z-index 6
	opacity .7
	transition all .4s
	&:hover
		height 100px

.bubbles
	overflow auto

.title
	opacity .6
	font-size 16px
	padding 10px
	text-align center

.color
	position relative
	width 50px
	height 50px
	float left
	cursor pointer

	div
		display none

	.bubble
		position absolute
		z-index 5
		border-radius 50%
		background #f00
		top 10px
		left 10px
		width 30px
		height 30px
		display block

	.bubble2
		position absolute
		z-index 4
		border-radius 50%
		background #000
		opacity .1
		display block
		transition all .4s
		top 25px
		left 25px
		width 0
		height 0
		&.activate	
			top 0
			left 0
			width 50px
			height 50px

	&.pink .bubble
		background pink
	&.orange .bubble
		background orange
	&.yellow .bubble
		background yellow
	&.red .bubble
		background red
	&.grey .bubble
		background grey
	&.white .bubble
		background white
	&.green .bubble
		background green
	&.purple .bubble
		background purple
	&.skyblue .bubble
		background skyblue
	&.darkblue .bubble
		background darkblue
	

.circle
	border-radius 50%
	background #f00

.triangle
	width 0px
	height 0px
	border-style solid
	border-width 0 0 0 0

.container
	position absolute
	top 0
	left 0
	height 100%
	min-height 100%
	width 100%

	div
		position absolute
		transition all .3s

#orange

	.triangle1
		top 0
		left 0
		border-color orange transparent transparent transparent
		&.activate
			transition: all 800ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
			border-width 400px 400px 0 0
	.triangle2
		bottom 0
		right 0
		border-color transparent transparent orange transparent
		&.activate
			transition: all 800ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
			border-width 0 0 400px 400px

	.triangle3
		top 0
		right 0
		border-color  transparent orange transparent transparent
		&.activate
			transition: all 800ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
			border-width 0 400px 400px 0 

	.triangle4
		bottom 0
		left 0
		border-color transparent transparent transparent orange
		&.activate
			transition: all 800ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
			border-width 400px 0 0 400px


#white

	.rect1
		border-radius 50%
		background #333
		opacity .03
		top 50%
		left 50%
		height 0
		width 0
		margin 0
		&.activate
			transition: all 1600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			width 3000px
			height 3000px
			margin-top -1500px
			margin-left -1500px

	.rect2
		margin 0
		border-radius 50%
		background white
		top 50%
		left 50%
		height 0
		width 1px
		&.activate
			transition: all 1600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay .3s
			margin-top -1500px
			margin-left -1500px
			width 3000px
			height 3000px

#skyblue

	.triangle1
		bottom 0
		left 0
		border-color  transparent transparent transparent skyblueLight
		&.activate
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			border-width 800px 0 0 400px

	.triangle2
		bottom 0
		right 0
		border-color transparent transparent skyblueLight transparent
		&.activate
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			border-width 0 0 800px 400px

	.triangle3
		bottom 0
		left 0
		border-color  transparent transparent transparent skyblue
		&.activate
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay .05s
			border-width 700px 0 0 350px

	.triangle4
		bottom 0
		right 0
		border-color transparent transparent skyblue transparent
		&.activate
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay .05s
			border-width 0 0 700px 350px

	.triangle5
		bottom 0
		left 0
		border-color  transparent transparent transparent #FFF
		opacity .2
		&.activate
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay .1s
			border-width 600px 0 0 300px

	.triangle6
		bottom 0
		right 0
		border-color transparent transparent #FFF transparent
		opacity .2
		&.activate
			transition-timing-function: ease-out;
			transition-delay .1s
			border-width 0 0 600px 300px

#grey

	.rect1
		background grey
		top 20%
		left 0
		height 5%
		width 0
		&.activate
			width 100%

	.rect2
		background grey
		top 10%
		right 0
		height 5%
		width 0
		&.activate
			width 100%

	.rect3
		background grey
		bottom 10%
		left 0
		height 5%
		width 0
		&.activate
			width 100%

	.rect4
		background grey
		bottom 20%
		right 0
		height 5%
		width 0
		&.activate
			width 100%
	.rect5
		background grey
		top 30%
		right 0
		height 5%
		width 0
		&.activate
			width 100%

	.rect6
		background grey
		bottom 30%
		left 0
		height 5%
		width 0
		&.activate
			width 100%

	.rect7
		background greyLight
		top 20%
		left 0
		height 5%
		width 0
		&.activate
			transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay .15s
			width 100%

	.rect8
		background greyLight
		top 10%
		right 0
		height 5%
		width 0
		&.activate
			transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay .15s
			width 100%

	.rect9
		background greyLight
		bottom 10%
		left 0
		height 5%
		width 0
		&.activate
			transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay .15s
			width 100%

	.rect10
		background greyLight
		bottom 20%
		right 0
		height 5%
		width 0
		&.activate
			transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay .15s
			width 100%

	.rect11
		background greyLight
		top 30%
		right 0
		height 5%
		width 0
		&.activate
			transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay .15s
			width 100%

	.rect12
		background greyLight
		bottom 30%
		left 0
		height 5%
		width 0
		&.activate
			transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay .15s
			width 100%


#pink

	.triangle1
		top 0
		left 0
		border-color pink transparent transparent transparent
		&.activate
			transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
			border-width 400px 400px 0 0
	
	.triangle2
		bottom 0
		right 0
		border-color transparent transparent pink transparent
		&.activate
			transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
			border-width 0 0 400px 400px

	.triangle3
		top 0
		left 0
		border-color pinkLight transparent transparent transparent
		&.activate
			transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
			border-width 420px 420px 0 0

	.triangle4
		bottom 0
		right 0
		border-color transparent transparent pinkLight transparent
		&.activate
			transition: all 1000ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
			border-width 0 0 420px 420px
	
	.triangle5
		top 0
		left 0
		border-color pinkDark transparent transparent transparent
		&.activate
			transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			border-width 400px 400px 0 0
			transition-delay .4s

	.triangle6
		bottom 0
		right 0
		border-color transparent transparent pinkDark transparent
		&.activate
			transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			border-width 0 0 400px 400px
			transition-delay .4s


#green
	// Fix transition with purple
	z-index 3

	.triangle1
		top 50%
		left 50%
		border-color  transparent transparent green transparent;
		&.activate
			transition: all 400ms cubic-bezier(0.295, 0.360, 0.095, 0.990); /* custom */
			margin-top -799px
			border-width 0 800px 800px 800px
			margin-left -800px
	
	.triangle2
		top 50%
		left 50%
		border-color  green transparent transparent transparent;
		&.activate
			transition: all 400ms cubic-bezier(0.295, 0.360, 0.095, 0.990); /* custom */
			border-width 800px 800px 0 800px
			margin-left -800px

	.triangle3
		top 50%
		left 50%
		border-color  transparent transparent #FAFAFA transparent;
		&.activate
			transition: all 600ms cubic-bezier(0.295, 0.360, 0.095, 0.990); /* custom */
			margin-top -399px
			border-width 0 400px 400px 400px
			margin-left -400px
			transition-delay: 0.15s;
	
	.triangle4
		top 50%
		left 50% 
		border-color  #FAFAFA transparent transparent transparent;
		&.activate
			transition: all 600ms cubic-bezier(0.295, 0.360, 0.095, 0.990); /* custom */
			border-width 400px 400px 0 400px
			margin-left -400px
			transition-delay: 0.15s;


#red

	.triangle1
		top 0
		left 50%
		margin 0
		border-color red transparent transparent transparent
		&.activate
			transition: all 600ms cubic-bezier(0.295, 0.360, 0.095, 0.990); /* custom */
			margin-left -150px
			border-width 200px 150px 0 150px

	.triangle2
		bottom 0
		left 50%
		margin 0		
		border-color transparent transparent red transparent
		&.activate
			transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			margin-left -150px
			border-width 0 150px 200px 150px

	.triangle3
		top 0
		left 50%
		margin 0
		border-color #FAFAFA transparent transparent transparent
		&.activate
			transition: all 600ms cubic-bezier(0.295, 0.360, 0.095, 0.990); /* custom */
			margin-left -140px
			border-width 185px 140px 0 140px
			transition-delay: 0.15s;

	.triangle4
		bottom 0
		left 50%
		margin 0		
		border-color transparent transparent #FAFAFA transparent
		&.activate
			transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			margin-left -140px
			border-width 0 140px 185px 140px
			transition-delay: 0.15s;

	.triangle5
		top 0
		left 50%
		margin 0
		border-color red transparent transparent transparent
		&.activate
			transition: all 600ms cubic-bezier(0.295, 0.360, 0.095, 0.990); /* custom */
			margin-left -150px
			border-width 200px 150px 0 150px
			transition-delay: 0.3s;

	.triangle6
		bottom 0
		left 50%
		margin 0		
		border-color transparent transparent red transparent
		&.activate
			transition: all 600ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			margin-left -150px
			border-width 0 150px 200px 150px
			transition-delay: 0.3s;

#yellow
	.rectTop
		background yellow
		top 0
		left 0
		height 200px
		width 0
		&.activate
			width 100%

	.rectBottom
		background yellow
		bottom 0
		right 0
		height 200px
		width 0
		&.activate
			width 100%

	.rectTop2
		background yellowLight
		top 10px
		right 0
		height 180px
		width 0
		&.activate
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay: 0.3s;
			width 100%

	.rectBottom2
		background yellowLight
		bottom 10px
		left 0
		height 180px
		width 0
		&.activate
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay: 0.3s;
			width 100%

	.rectTop3
		background yellowDark
		top 0
		right 0
		height 200px
		width 0
		&.activate
			transition: all 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay: 0.45s;
			width 100%

	.rectBottom3
		background yellowDark
		bottom 0
		left 0
		height 200px
		width 0
		&.activate
			transition: all 800ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			transition-delay: 0.45s;
			width 100%

#darkblue
	.rectTop
		background darkblue
		top 0
		left 0
		height 0
		opacity .5
		width 100%
		&.activate
			transition: all 700ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			height 20%

	.rectBottom
		background darkblue
		bottom 0
		right 0
		height 0
		opacity .5
		width 100%
		&.activate
			transition: all 700ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			height 20%

	.rectTop2
		background darkblue
		top 0
		left 0
		height 0
		width 100%
		opacity .5
		&.activate
			transition: all 700ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			height 20%
			transition-delay: 0.25s;

	.rectBottom2
		background darkblue
		bottom 0
		right 0
		height 0
		opacity .5
		width 100%
		&.activate
			transition: all 700ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			height 20%
			transition-delay: 0.25s;

	.rectTop3
		background darkblue
		top 0
		left 0
		height 0
		width 100%
		opacity .5
		&.activate
			transition: all 700ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			height 20%
			transition-delay: 0.35s;

	.rectBottom3
		background darkblue
		bottom 0
		right 0
		height 0
		opacity .5
		width 100%
		&.activate
			transition: all 700ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
			height 20%
			transition-delay: 0.35s;

#purple
	radius = 200
	.circle
		background purple
		width 0
		height 0
		&.activate
			width radius*2px
			height radius*2px

	.circle1
		top 50%
		left 0
		&.activate
			margin-top radius*-1px
			margin-left radius*-1.5px
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
	.circle2
		bottom 50%
		right 0
		&.activate
			margin-bottom radius*-1px
			margin-right radius*-1.5px
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
	.circle3
		top 0
		right 50%
		&.activate
			margin-top radius*-1.5px
			margin-right radius*-1px
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
	.circle4
		bottom 0
		left 50%
		&.activate
			margin-bottom radius*-1.5px
			margin-left radius*-1px
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

	radius = 60

	.circle5
		background #FAFAFA
		top 50%
		left 0
		&.activate
			margin-top radius*-1px
			margin-left radius*-1.5px
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
	.circle6
		background #FAFAFA
		bottom 50%
		right 0
		&.activate
			margin-bottom radius*-1px
			margin-right radius*-1.5px
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
	.circle7
		background #FAFAFA
		top 0
		right 50%
		&.activate
			margin-top radius*-1.5px
			margin-right radius*-1px
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
	.circle8
		background #FAFAFA
		bottom 0
		left 50%
		&.activate
			margin-bottom radius*-1.5px
			margin-left radius*-1px
			transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
