#experience{


  .container{
    margin-top: 210px;
  }

  .experience__title{
    color: $as-color;
    font-size: 60px;
    font-family: $as-font, cursive;
    font-size: 80px;
    text-align: center;
    font-weight: normal;
    opacity: 0;
    visibility: hidden;
  }
  
}

#video-camera-smile{
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.boy__face{
  background: image-url('./../images/boy_face.png') no-repeat center center;
  width: 290px;
  height: 374px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  margin: 0 0 0 -147px;
  background-size: 200px;
  opacity: 0;
  visibility: hidden;

  &.next{
    left: 75%;
    background-size: 110px;
    bottom: -80px;

  }
}