@import "compass";

#home{

  .container{
    margin-top: 210px;
    position: relative;
  }

  .home__title{
    color: $as-color;
    font-size: 70px;
    font-family: $as-font, cursive;
    font-size: 80px;
    width: 100%;
    text-align: center;
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    margin-top: 180px;
    margin-bottom: 0;
  }

  .home__title-was{
    opacity: 0;
    margin-top: 0;
    margin-bottom: 40px;
    margin-top: 70px;
    visibility: hidden;
    font-family: $as-font, cursive;
    font-size: 60px;
    color: $as-color;
    text-align: center;
    font-weight: normal;
  }


  .home__links{
    height: 200px;
  }

  .home__circle{
    width: 200px;
    height: 200px;
    @include border-radius(50%);
    float: left;
    margin-left: 50px;
    display:block;

    &.boy{
      background: #BAD9D3 image-url('./../images/boy.png') no-repeat center center;
      margin-left: 120px;
    }
    &.girl{
      background: #F2C4D0 image-url('./../images/girl.png') no-repeat center center;
    }
  }
}